*{
	margin: 0px;
	padding: 0px;

}

body{
	background: #F4EEED;
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: url(imagem/fundocinza.jpg);
}


#container{
	width: 950px;
	margin: 0 auto;
}
	

/*Início topo */

#topoprincipal{
	height: 200px;
	width: 100%;
	position: relative;
	background: #F2EEB3 url(imagem/topo.png) no-repeat;
	margin: 0px auto;
	z-index: 1;
}

.topo a{
	background: url(imagem/beber.png) no-repeat;
	position: absolute;
	top: 50px;
	left: -70px;
	z-index: 2;
	width: 235px;
	height: 156px;
	text-indent: -9000px;
	
}


#topo3{
	background: url(imagem/lei-seca.png)no-repeat;
	position: absolute;
	z-index: 4;
	width: 200px;
	height: 129px;
	top: 30px;
	left: 330px;
}

/* Fim topo */


/*Inicio Conteúdo */

#conteudo{
	width: 950px;
	margin-top: 10px;

}


/* Início Links menu principal*/

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#lateral{
	width:16%;
	float: left;
	margin-top: 200px;
	margin-left: -570px;
}

#lateral ul a{
	margin-top: 15px;
	font-size: 1.5em;
	padding: 10px;
	display: block;
	color: #f1f1f1;
	text-decoration: none;
	background: #343642;
	border-radius: 15px;
	text-align: center;
	line-height: 20px;
}

#lateral ul a:hover{
	padding: 10px;
	background: #f0e035;
	border-radius: 15px;
	color: #000;
}


body.home #navegacao a#home,
body.noticias #navegacao a#noticias,
body.tabela #navegacao a#tabela,
body.formulario #navegacao a#formulario{
	background: #757a80;
	border-radius: 15px;
	padding: 10px;
}

 
 /*Fim links menu principal */


/*Conteúdos*/

#primario{
	width: 37%;
	float: left;
	margin-top: 220px;
	margin-left: 200px;
	margin-right: 20px;
}

#secundario{
	width: 37%;
	float: right;
	margin-top: 220px;
}

#duas-colunas{
	width: 49%;
}

/*caixa*/

.caixa{
	margin: 10px 0;
	padding: 0px;
	background: #f3f3f3 url(imagem/fundo-caixa.png);
}

h2{
	font-size: 1em;
	background: #343642;
	color: #fff;
	padding: 5px;
	text-align: center;
	margin-left: -20px;
}


.imagem{
	width: 200px;
}

.caixa-conteudo{
	width: 350px;
	background: #fff;
	padding: 5px;
	margin-top: 5px;
	margin-left: -15px;
	margin-bottom: 5px;
	text-align: justify;
}

.caixa-destaque{
	width: 350px;
	margin-left: -15px;

}


/* Tabela 1 */

#containertabela{
	width: 700px;
	float: left;
	position: relative;
	left: 30px;
	padding: 10px;
	font-size: 1.2em;

}
.cor{
	background: #757a80;
	padding-left: 2px;
	margin-top: 2px;
	color: white;
}
.cor2{
	background: #f0e035 ;
	padding-left: 2px;
	margin-top: 2px;
	color: black;
}
.espaço{
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 10px;
	padding-left: 20px;
	text-align: center;
	
}
.espaço2{
	margin-bottom: 20px;
	font-size: 15px;
}

td.espaço:hover{
	background:  #e68a00;
	cursor: default;
}

.leis{
	height: 90px;
	margin-top: 5px;
	text-align: center;
	font-size: 2.3em;
}



/* Rodapé */
#container-rodape{
	clear: both;
	background: url(imagem/topo.png) no-repeat;
}

#container-rodape p{
	text-align: center;
	color: #f0e035;
	font-family: cursive;
	padding: 5px;
	font-size: 0.8em;
	margin-top: -10px;
}

#container-rodape h4{
	text-align: center;
	color: white;
	margin: 10px;
	padding: 10px;

}

/*Notícia Destaque */

.destaque2{

}

#caixa-conteudo p{
	width: 100%;
	text-align: justify;
	float: left;
	padding: 5px;
	margin-top: -25px;
	margin-bottom: 10px;
	position: relative;
	left: 150px;
	background: white;

}

/*FORMULARIO*/


fieldset{
	position: relative;
	left: 90%;
	transform: translate(-50%,-50%);
	background: #757a80 ;
	padding: 15px;
	border-radius: 15px;
	width: 100%;
	color: white;
	border: 2px solid #f0e035;
	margin-top: 525px;
	float: left;
}
legend{
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	background: #f0e035 ;
	border-radius: 8px;
	color: black;
}
.inputbox{
	position: relative;


}
.labelinput{
	position: relative;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
}
.inputuser{
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	outline: none;
	font-size: 15px;
	width: 100%;
	letter-spacing: 2px;
	padding-top: 20px;
	margin-top: 2px;

}
#data{
	border: none;
	padding: 8px;
	border-radius: 10px;
	outline: none;
	font-size: 15px;
}
#Enviar{
	background: #f0e035 ;
	width: 100%;
	border: none;
	padding: 15px;
	color: #757a80  ;
	font-size: 15px;
	cursor:pointer;
	border-radius: 10px;
}
#Enviar:hover{
	background:  #ffbf00;

}

/*Noticia destaque*/

.destaque{

	width: 650px;
	background: #f1f1f1;
	margin-bottom: 10px;
	text-align: justify;
}

.destaque p{
	padding: 10px;
}