body{
	width: 960px;
	margin: auto;
	background: #d2d2d2c1 url('imagem/fundo.png');
	font: 16px Arial, helvetica, sans-serif;

	}

#principal{
	width: 900px;
	
}

#menu{

	background: #c5c5b2;
	padding: 18px;

}

#conteudo{
	background: #e8e8d9;
	padding: 10px;

}
#rodape{
	text-align: center;
	background: #c5c5b2;
	padding: 2px;

}
.imagem{
	border: 10px solid #c3c3ae;
}
h1{
	color: #828271;
	font-size: 1.2em;
}

a{

	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;

}
a:link{
	color: darkred;
}
a:hover{
	color: #black;
	background: #F5F5F5;
}
a:active{
	color: skyblue;
	background: ;
}