body{
	background: #d2d2d2c1 url('Imagem/fundo.png');
	font: 16px Arial, hevetica, sans-serif ;
}


#principal{
	width: 900px;
	
}


#menu {
	background: #c5C5b2;
	padding: 18px;
}

#conteudo{
	background: #e8e8d9;
	padding: 10px;

}

#rodapé{
	text-align: center;
}


.imagem{
	border: 10px solid #c3c3ae;

}
a{
	color: #4b566a;
	text-decoration: nome;
	font-weight: bold;
	padding: 5px;

}

h1{
	color:  #828271;
	font-size: 1.2em;
}