body, html{
	margin: 0px;
	font: 16px, sans-serif;
	height: 100%;
}

.imagem1, .imagem2, .imagem3, .imagem4{
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.imagem1{
	background-image: url(imagem/parallax1.jpg);
}

.imagem2{
	background-image: url(imagem/parallax2.jpeg);
}

.imagem3{
	background-image: url(imagem/mao.jpg);
}

.imagem4{
	background-image: url(imagem/parallax.jpg);
}

.frase-titulo{
position: absolute;
left: 0px;
text-align: center;
top: 45%;
width: 100%;
}

.frase-titulo span.titulo{
	font-size: 30px;
	letter-spacing: 3px;
}

.p{
	padding: 20px;
	text-align: justify;
}

.tabela{
	background: #fa3992;
}

ul li a{
	color: #000;
}

li a:hover{
	background-color: #d15e50;
	color: white;	
}

h3{
	color: #fff;
	text-shadow: 2px 4px 3px #9f0726;
}

h5{
	color: white;
	background: #fa3992;
}

.rodape{
	display: inline-flex; 
	list-style: none;
}




